@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* // <uniquifier>: Use a uniquifier for the class name */
/* // <weight>: Use a value from 100 to 900 */

.raleway {
  font-family: "Raleway", sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#border-top{
    border-top: 2px solid #1DD100;
}
#hr{
    color: black;
    font-weight: 900;
}
li{
    display: flex;
    justify-content : space-between;
    gap: 20px;
    width: 200px;
    margin: auto;
    text-align: center;
    list-style: numeric;
    
}

/* #container {
    width: 27em;
    margin: 3em auto;
    /* color: #fff; */
    /* font-family: sans-serif; */
/* } */
/* 
.card {
    background: linear-gradient(to bottom,#3dcee8 0%,#3dcee8 26%, #ecedef 26%, #ecedef 100%);
    height: 11em;
    float: left;
    position: relative;
    padding: 1em;
    margin-top: 100px;
}

.card-left{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 16em;
} */ 

/* .card-right{
    width: 6.5em;
    border-left: 0.18em dashed #fff;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.card-right::before,
.card-left::after {
    content: "";
    position: absolute;
    display: block;
    width: 0.9em;
    height: 0.9em;
    background : #fff;
    border-radius: 50%;
    left: -0.5rem;
}

.card-right::after,
.card-left::before {
    top: -0.5rem;
} */
/* 
.card-right::before{
    top: -0.4em;
}

.card-right::after {
    bottom: -0.5em;
}

#ticket{
    font-size: 1.1em;
    margin-top: 0;
}

#ticket-span {
    font-weight: normal;
}

.title,.name,.seat,.time {
    text-transform: uppercase;
    font-weight: normal;
} */

/* .title h2,.name h2,.seat h2,.time h2 {
    font-size: 0.9em;
    color: #525252;
    margin: 0;
}

.title span,.name span, .seat span, .time span {
    font-size: 0.7em;
    color: #a2aeae;
}

.title{
    margin: 2em 0 0 0 ;
}
.name,.seat{
    margin: 0.7em 0 0 0 ;
}
.time{
    margin: 0.7em 0 0 0 ;
}

.seat,.time {
    float: left;
} */


/* .eye {
    position: relative;
    width: 2em;
    height: 1.5em;
    background: #fff;
    margin: 0 auto;
    border-radius: 1em/0.6em;
    z-index : 1;
}

.eye::before,
.eye::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 50%;
} */