@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* // <uniquifier>: Use a uniquifier for the class name */
/* // <weight>: Use a value from 100 to 900 */

.raleway {
  font-family: "Raleway", sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#border-top{
    border-top: 2px solid #1DD100;
}
#hr{
    color: black;
    font-weight: 900;
}
li{
    display: flex;
    justify-content : space-between;
    gap: 20px;
    width: 200px;
    margin: auto;
    text-align: center;
    list-style: numeric;
    
}
